body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}

p,
ul,
ol,
dl,
table,
blockquote {
    margin: 0 0 2em 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.container .header {
    display: flex;
    min-height: 80px;
    border-bottom: 1px solid #dedede;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    background: #fbfbfb url(https://kttc.ru/images/logo/bg_v2.svg) no-repeat scroll 50% 0;
    background-size: cover;
}

.container .header .space {
    flex-grow: 1;
}

.container .header .left-section-wrapper {
    display: flex;
}

.container .header .left-section-wrapper .logo {
    border: 0;
    width: 121px;
    height: 50px;
    display: flex;
    background: url(https://kttc.ru/images/logo/kttc_logo.svg) no-repeat scroll 0 0;
}

.container .header .left-section-wrapper .close-button {
    position: relative;
    width: 84px;
    display: flex;
    cursor: pointer;
}

.container .header .left-section-wrapper .close-button:before,
.container .header .left-section-wrapper .close-button:after {
    position: absolute;
    content: ' ';
    width: 24px;
    height: 2px;
    background-color: #aaaaaa;
    top: 50%;
    left: 30%;
}

.container .header .left-section-wrapper .close-button:before {
    transform: translateY(-50%) rotate(45deg);
}

.container .header .left-section-wrapper .close-button:after {
    transform: translateY(-50%) rotate(-45deg);
}


.container .header .right-section-wrapper .search form {
    color: rgba(0, 0, 0, .8);
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    transition: all .3s;
    display: flex;
    position: relative;
    flex-direction: row;
}

.container .header .right-section-wrapper .search input {
    vertical-align: middle;
    font: 99% sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s;
    border: 1px solid #cccccc;
    line-height: 38px;
    padding: 0 15px;
    width: 100%;
    outline: none;
    border-right: 0;
    border-radius: 0;
}

.container .header .right-section-wrapper .search select {
    vertical-align: middle;
    outline: none;
    font: 99% sans-serif;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #cbcbcb;
    padding: 0 0px 0 10px;
    text-decoration: none;
    color: black;
    line-height: 38px;
    display: flex;
    background: transparent;
    cursor: pointer;
    min-width: 80px;
    transition: all .3s;
    border-radius: 0;
}

.container .header .right-section-wrapper .search .button {
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    border: 1px solid #cbcbcb;
    text-decoration: none;
    color: black;
    line-height: 38px;
    background: transparent;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 10px;

}

.container .header .right-section-wrapper .search .button img {
    max-width: 16px;
    max-height: 16px;
}

.container .main-section-wrapper {
    display: flex;

}

.container .main-section-wrapper .navigation {
    display: flex;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
    padding: 25px;
    height: auto;
}

.container .main-section-wrapper .banner {
    text-align: center;
    width: 100%;
}

ol,
ul {
    list-style: none;
}

ul {
    list-style: none;
    padding: 0px;
}

.container .main-section-wrapper .navigation>ul>li>a {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: #1a1a1a;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: 500;
}

.container .main-section-wrapper .navigation a {
    color: #1a1a1a;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}

.container .main-section-wrapper .navigation .vip-menu a {
    color: red;
}

.container .main-section-wrapper .navigation>ul>li>ul a {
    color: #6d6d6d;
}

.container .main-section-wrapper .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .main-section-wrapper .top10-wrapper {
    /* min-width: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    min-width: calc(100vw - 250px);
    width: calc(100vw - 250px);
}

.container .main-section-wrapper .top10-wrapper section {
    display: flex;
    background-color: #fbfbfb;
    border: 1px solid #dfdfdf;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
    max-width: 100%;
}

.container .main-section-wrapper .top10-wrapper .top10-section {
    width: 41%;
    display: flex;
    margin: 1.5vw 1.5%;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    padding: 0px;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places li {
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #B1B1B1;
    counter-increment: step-counter;
    padding-left: 40px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places li a {
    margin-right: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #167ac6;
    display: inline-block;
    margin-right: 0px;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places .left {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    overflow: hidden;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places li:first-child:before {
    background-color: gold;
    color: white;
    font-size: 22px;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places li:nth-child(2):before {
    background-color: silver;
    color: white;
    font-size: 22px;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places li:nth-child(3):before {
    background-color: #E8B17A;
    color: white;
    font-size: 22px;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places .left .clanNameStat {
    margin-left: 5px;
    white-space: nowrap;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places .right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places li>.wrap {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places li:before {
    content: counter(step-counter);
    width: 40px;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    line-height: 39px;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: -40px;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places .detail {
    border-bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 15px 0 0 0;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places .detail a {
    text-decoration: none;
    color: #167ac6;
    text-decoration: none;
    font-size: 16px;
}

.container .main-section-wrapper .top10-wrapper .top10-section .places .right span {
    display: inline-block;
    margin-left: 5px;
}

.container .footer {
    padding: 0;
    background-color: #f8f8f8;
    border-top: 1px solid #E5E5E5;
    color: #999;
    padding-top: 20px;
    justify-content: center;
    padding: 20px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}